@import "shared/header";
@import "shared/navigation";
@import "shared/content";
@import "shared/footer";
@import "@fortawesome/fontawesome-free/css/all.css";

.clipped-image {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.main-image {
  width: 100%;
  height: auto;
}
