.navigation {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;

  li {
    display: inline-block;
    margin: 20px 10px 20px 10px;
    padding: 0;

    a {
      color: #222222;
      text-decoration: none;
    }
  }
}

.active-tab {
  border-bottom: 2px solid $color-content-secondary;
  line-height: 0.5;
}
