@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-bg-primary: #e3e0cf;
$color-bg-secondary: #A29496;

$color-content-primary: #000000;
$color-content-secondary: #cc0000;

$color-link: #800000;
$color-link-hover: #9fa8a3;
